h1{
    text-align: center;
    color:rgb(29, 21, 186);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color:rgb(29, 21, 186);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul{
    list-style: none;
}
h3{
    color:rgb(198, 51, 137);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}